.components {
  &__title {
    @include heading2;
  }
  &__image-content {
    position: relative;
    width: fit-content;
    margin: auto;
    padding: 50px;
  }
  &__image {
    position: relative;
    z-index: 1;
    width: 100%;
    width: 300px;
    height: auto;
    @media screen and (max-width: 992px) {
      max-width: 200px;
    }
  }
  &__image-box {
    &.brown {
      @include image-box($brown-primary);
    }
    &.orange {
      @include image-box($orange-primary);
    }
    &.pink {
      @include image-box($pink-primary);
    }
    &.grey {
      @include image-box($grey-primary);
    }
  }
}

.button {
  &__black {
    @include button-black;
  }
  &__white {
    @include button-white;
  }
  &__small {
    @include button-small;
  }
}
