.navbar {
  padding: 0;
  color: $white-primary;
  & &-brand,
  & &-nav .nav-link {
    color: $white-primary;
  }
  & &-brand {
    font-family: "Caveat";
    font-weight: bold;
  }
  & &-nav {
    @media screen and (max-width: 767px) {
      background-color: $gold-primary;
      backdrop-filter: blur(5px);
    }
  }
  &.navbar-scrolled {
    background-color: $gold-primary;
    backdrop-filter: blur(5px);
  }
}
