.about {
  padding: 64px 0;
}

.values {
  margin: 64px 0;
  & &__icon-container {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  & &__icon {
    max-width: 100%;
    height: auto;
  }
  & &__value {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & &__desc {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.products {
  padding: 64px 0;
  background-color: $grey-primary;
  & a {
    text-decoration: none !important;
  }
}

.location {
  padding: 64px 0;
}
