@mixin heading1 {
  /* Heading1 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  @media screen and (max-width: 576px) {
    font-size: 32px;
    line-height: 120%;
  }
}

@mixin heading2 {
  /* Heading2 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  @media screen and (max-width: 576px) {
    font-size: 28px;
    line-height: 120%;
  }
}

@mixin heading3 {
  /* Heading3 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  @media screen and (max-width: 576px) {
    font-size: 28px;
    line-height: 120%;
  }
}

@mixin heading4 {
  /* Heading4 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  @media screen and (max-width: 576px) {
    font-size: 20px;
    line-height: 120%;
  }
}

@mixin heading5 {
  /* Heading5 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  @media screen and (max-width: 576px) {
    font-size: 20px;
    line-height: 120%;
  }
}

@mixin heading6 {
  /* Heading6 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
}

@mixin body1 {
  /* Body1 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.025em;
  @media screen and (max-width: 576px) {
    font-size: 14px;
  }
}

@mixin body2 {
  /* Body2 */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.015em;
}

// Header Background Style
@mixin header-bg($bg-image, $position-xl, $position-md) {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: $bg-image;
  background-size: cover;
  background-position: bottom $position-xl center;
  background-attachment: fixed;
  @media screen and (max-width: 992px) {
    background-position: bottom $position-md center;
  }
  @media screen and (max-width: 576px) {
    background-position: bottom 0px center;
  }
}

// Header CTA Button
@mixin button-black {
  background-color: transparent;
  border: 1px solid $white-primary;
  padding: 12px 42px;
  border-radius: 40px;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: $white-primary;
  &:hover {
    background-color: $white-primary;
    color: $black-primary;
  }
}

@mixin button-white {
  background-color: transparent;
  border: 1px solid $black-primary;
  padding: 12px 32px;
  border-radius: 40px;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: $black-primary;
  &:hover {
    background-color: $black-primary;
    color: $white-primary;
  }
}

@mixin button-small {
  background-color: transparent;
  border: 1px solid $brown-primary;
  padding: 8px 24px;
  border-radius: 40px;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: $black-primary;
  &:hover {
    background-color: $black-primary;
    color: $white-primary;
  }
}

// Image Box {
@mixin image-box($bg-color) {
  position: absolute;
  z-index: 0;
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 24px;
  background-color: $bg-color;
  @media screen and (max-width: 576px) {
    width: 125px;
    height: 125px;
  }
}
