// @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,s700;1,900&display=swap");
}

@font-face {
  font-family: "Caveat";
  src: url(../../public/fonts/Caveat.ttf);
}

$home-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../../public/background/home-bg-new.png");
$about-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../../public/background/home-bg.jpg");

$white-primary: #f4f4f4;
$black-primary: #05060a;
$brown-primary: #dec9af;
$orange-primary: #b28000;
$pink-primary: #ebb8b2;
$grey-primary: #e7e7e7;
$gold-primary: #b28000;
$gold-primary-transparent: #b28000b1;
