@import "variables";
@import "mixin";
@import "scroll";

@import "components/components";
@import "components/typography";

@import "components/navbar";
@import "components/header";
@import "components/footer";

@import "pages/homepage";
@import "pages/aboutpage";
@import "pages/product";
@import "pages/loadingscreen";

body {
  background-color: $white-primary;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
